#content {
    font-family:sans-serif;
}

header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(151,219,174);
    padding: 10px;
    align-items: center;
    margin: 1px;
}

article {
    grid-column: 1/6;
    display: flex;
    height: 150px;
    background-color: rgb(231, 241, 149);
    border: black 2px solid; 
    padding: 10px;
    margin: 3px;
    border-radius: 5px;    
}

.kuva{
    height: 230px;
    width: 300px;
    border: 2px solid rgb(151,219,174);
    margin: 10px;
    float: left;
}

#kettu, #karhu, #orava, #ilves, #jänis {
    display: none;
    height: 300px;
    margin: 1px;
    padding: 10px;
    border: 3px black solid;
    background-color: rgb(231, 241, 149);
    border-radius: 5px;
    align-items: center;
} 

.progress{ 
    display: none;
    font-weight: bold;
    background-color: rgb(244,187,187);
    margin: 10px;
}

#aloitusnappi, #seuraava1, #seuraava2, #seuraava3, 
#seuraava4, #seuraava5,.button, #uudestaan, #tulos{
    height: 50px;
    width: 100px;
    background-color: rgb(244,187,187);
    border-radius: 5px;
    font-weight: bolder;
}

#aloitusnappi{
    margin-left: 30px;
    padding: 2px;
}
#uudestaan{
    float: left;
}

#prize {
    display: none;
}

#feedbackEnd{
    font-size: larger;
    text-transform: uppercase;
    color: green;
    background-color: rgb(231, 241, 149);
}