


[class*="container"] {
    background-color: rgb(195,229,174);
    border: 3px solid black;
    border-radius: 5px;
    margin: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(151,219,174);
    padding: 10px;
    align-items: center;
    margin: 1px;
}

footer{
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(244,187,187);
    padding: 10px;
    margin: 1px;
}

.some{
    background-color: rgb(241, 225, 166);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
    margin: 0;
}
.quiz-container{
    background-image: url(/images/Antiikin\ kreikka.jpg);
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
    color: white;
    background-size: auto;
    
}
.quiz-header{
    padding: 4rem;
}
h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}
ul li label{
    cursor: pointer;
}
button{
    
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.3rem;
}

button:focus{
    outline: none;
}